<!DOCTYPE html>
<html>
<head>
	<title>CSS</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="../css/Main.css">
	<link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="body">
		<div class="nav">
		<ul>
			<li><a class="defalt" href="../index.HTML">Home</a></li>
			<li><a href="HTML-Playground.html">HTML</a></li>
			<li><a href="CSS-Playground.html">CSS</a></li>
			<li><a href="Bootstrap-Playground.html">Bootstrap</a></li>
			<li><a href="JavaScript-Playground.html">JavaScript</a></li>
			<li><a href="jQuery-Playground.html">jQuery</a></li>
			<li><a href="Git-Playground.html">Git</a></li>
			<li><a href="Resources-Playground.html">Resources</a></li>
		</ul>
		</div><hr>
			<h1>CSS Items</h1>
		<div class="forn">
			<h3>Uses</h3>
				<ul>
					<li>To give the appeatance of your site, a unique look and feel</li>
					<li>To alter colors, fonts, backgounds, ect.</li>
					<li>To implement some effects and animations, although it's not as powerful as jQuery/JavaScrips.</li>
				</ul>
		</div><hr>
		<div class="beze">
			<h3>CSS Statments</h3>
				<p>Four main componets of CSS statments:</p>
				<ol>
					<li><b>Declaration:</b>The whole CSS statment in curly braces.</li>
					<li><b>Selector</b>The name of the part you want to style.</li>
					<li><b>Property:</b>Properties to edit(e.g., witdh, height, background, ect.)</li>
					<li><b>Vale:</b>Numbers, colors, URLs - things to give value to the property.</li>
				</ol>
		</div><hr>
		<div class="smileyface"> 
		  <p class="lefteye"></p>
		  <p class="righteye"></p> 
  			<div class="smile"></div>
			<div class="tongue"></div>
		</div>
	</div>
</body>
</html>