<!DOCTYPE html>
<html>
	<head>
		<title>WTNV</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
			
		<link rel="stylesheet" type="text/css" href="../css/Main.css">
		<link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="body">
		<div class="nav">
		<ul>
			<li><a class="defalt" href="../index.HTML">Home</a></li>
			<li><a href="HTML-Playground.html">HTML</a></li>
			<li><a href="CSS-Playground.html">CSS</a></li>
			<li><a href="Bootstrap-Playground.html">Bootstrap</a></li>
			<li><a href="JavaScript-Playground.html">JavaScript</a></li>
			<li><a href="jQuery-Playground.html">jQuery</a></li>
			<li><a href="Git-Playground.html">Git</a></li>
			<li><a href="Resourcres-Playground.html">Resourcres</a></li>
		</ul>
		</div>
		<hr>
		<h1>HTML Items</h1>
		<h2>Header Tags</h2>
		<h1>h1</h1>
		<h3>h3</h3>
		<h6>h6</h6>
		<hr>

		<h2>Paragraph Text</h2>
		<p>A friendly desert community where the sun is hot, the moon is beautiful, and mysterious lights pass overhead while we all pretend to sleep. Welcome to Night Vale.</p>
		<p>Hello listeners. To start things off I've been asked to read this brief notice: the city council announces the opening of a new dog park at the corner of Earl and Summerset near the Ralph's. They would like to remind everyone that dogs are not allowed in the dog park. People are not allowed in the dog park. It is possible you will see hooded figures in the dog park. Do not approach them. Do not approach the dog park. The fence is electrified and highly dangerous. Try not to look at the dog park, and especially do not look for any period of time at the hooded figures. The dog park will not harm you.</p>

		<hr>
		<h2>Hyperlinks and href</h2>
		<p>Use the "a href" tag for a link. Copy and past the URL of the link.</p>
		<a href="http://www.w3schools.com/"></a>

		<hr>
		<h2>Images</h2>
		<p>Images are really easy to add. Create a folder called "img". Save images in img folder.</p>
		<p>Use the "img scr" tag.</p>

		<img src="../img/Khoshekh.gif">

		<hr>
		<h1>Divs</h1>
		<div id = "blue" style= "color: blue; border: solid"> 
			<p>Hello</p>
		</div>
		<div id="red" style= "color: red; border: dashed">
			<p>Bye</p>
		</div>
		<div id="back" style="background:green">
			<br>
			<br>
			<br>
		</div>

		</div>
	</body>
</html>