<!DOCTYPE html>
<html>
<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
			
	<title>Resources</title>
	<link rel="stylesheet" type="text/css" href="../css/Main.css">
	<link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Kurale' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="body">
		<div class="nav">
		<ul>
			<li><a class="defalt" href="../index.HTML">Home</a></li>
			<li><a href="HTML-Playground.html">HTML</a></li>
			<li><a href="CSS-Playground.html">CSS</a></li>
			<li><a href="Bootstrap-Playground.html">Bootstrap</a></li>
			<li><a href="JavaScript-Playground.html">JavaScript</a></li>
			<li><a href="jQuery-Playground.html">jQuery</a></li>
			<li><a href="Git-Playground.html">Git</a></li>
			<li><a href="Resources-Playground.html">Resources</a></li>
		</ul>
		</div>
		<h1>Inspiration & Motivation</h1>
			<p>Here is a little image to keep in mind when things get tough in coding.</p>
					<img src="../img/CisH.png">
		<h1>Resources</h1>
			<h3>Here are some good resources</h3>
		<table border= "1px">
			<tr>
				<td>Languages</td>
				<td>Site Name</td>
				<td>Link</td>
				<td>Description</td>
			</tr>
			<tr>
				<td>HTML, CSS, JavaScript, jQuery</td>
				<td>w3schools</td>
				<td><a href="http://www.w3schools.com/"></a>www.w3schools.com</td>
				<td>This site has practice examples for basic wed develpoment.</td>
			</tr>
			<tr>
				<td>HTML, CSS, JavaScript, jQuery, Git Command line, Python</td>
				<td>Codecademy</td>
				<td<a href="https://www.codecademy.com/"></a>Codecademy.com</td>
				<td></td>
			</tr>
			<tr>
				<td>Bootstrap</td>
				<td>Bootstrap</td>
				<td><a href="http://startbootstrap.com/"></a>StartBootStrap.com</td>
				<td></td>
			</tr>
			<tr>
				<td>Any Language</td>
				<td>Stack Overflow</td>
				<td><a href="http://stackoverflow.com/"></a>Stackoverflow.com</td>
				<td></td>
			</tr>
			<tr>
				<td>HTML, CSS, JavaScript, jQuery</td>
				<td>Free Code Camp</td>
				<td><a href="https://www.freecodecamp.com/"></a>FreeCodeCamp.com</td>
				<td>This site will help you practice your skils. It's a good resource for your portfolio building and for getting code experince as a new developer.</td>
			</tr>
		</table>


	</div>
</body>
</html>